@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/*https://colorhunt.co/palette/393e466d9886f2e7d5f7f7f7

+https://colorhunt.co/palette/ffc8c8ff9999444f5a3e4149

https://colorhunt.co/palette/ffe8dffffffff0f0f0888888*/

h1, h2, h3, h4, h5, h6, p, li, img {
  user-select: none;
}

.side{
  width: 100%;

  display: grid;

  overflow: hidden;
  position: absolute;
}

.img-nr {
  border-radius: 45px !important;
}

.side .title {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  height: 100vh;
  width: 100vw;
}

.hero h1 {
  margin-top: 35vh;
  text-align: center;
  font-size: 20vh;
  font-weight: 900;
}

.hero h2 {
  margin-top: 35vh;
  text-align: center;
  font-size: 10vh;
  font-weight: 500;
  opacity: 0.25;
}

.pernik-uvod {
  text-underline-offset: 11px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  font-weight: 600;
}

.ingredience {
  margin: 0 auto;
}

#left-side {
  z-index: 2;
}

#left-side .pernik-uvod {
  color: #3E4149;
  text-decoration-color: #888888;
}

#left-side .pernik-uvod {
  text-decoration-color: #888888;
}

#left-side .hero {
  background-color: #FFE8DF;
}

#left-side .hero h1, #left-side .hero h2 {
  color: #3E4149;
}

#left-side main section:nth-child(1) {
  background-color: #F0F0F0;
  color: #3E4149;
}

#left-side main section:nth-child(2) {
  background-color: #F0F0F0;
}

#left-side main section:nth-child(3) {
  background-color: #F0F0F0;
}

#right-side main section {
  background-color: #F7F7F7;
  color: #3E4149;
}

#right-side .hero {
  background-color: #6D9886;
}

#right-side .hero h1 {
  color: #F7F7F7;
}

@media only screen and (max-width: 1800px) {
  .hero h1 {
    margin-top: 35vh;
    text-align: center;
    font-size: 10vh;
    font-weight: 900;
  }
  
  .hero h2 {
    margin-top: 35vh;
    text-align: center;
    font-size: 10vh;
    font-weight: 500;
    opacity: 0.25;
  }
}

@media only screen and (max-width: 520px) {
  .hero h1 {
    margin-top: 35vh;
    text-align: center;
    font-size: 7.5vh;
    font-weight: 900;
  }
  
  .hero h2 {
    margin-top: 35vh;
    text-align: center;
    font-size: 10vh;
    font-weight: 500;
    opacity: 0.25;
  }
}